* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container span {
    margin: 10px 0;
}